:root {
  --color-mediumTurquoise: #3c9999;
}

.politica__recuo {
  text-indent: 2rem;
}

/* .investimentos___curso {
  width: 70vw;
} */

@media (min-width: 768px) {
  .politica__container {
    width: 75vw;
  }
}

.card-header {
  background-color: var(--color-mediumTurquoise);
}

.psicoaroma-cursos__name {
  background: #ffffff;
  opacity: 0.8;
  border: 1px solid #ffffff;
  border-radius: 0px 8px 8px 0px;
  top: 140px;
  min-height: 88px;
}

#card-img-andrea {
  object-fit: none;
}
