:root {
  --color-mediumTurquoise: #3c9999;
}

.politica__recuo {
  text-indent: 2rem;
}

@media (min-width: 768px) {
  .politica__container {
    width: 75vw;
  }
}

.card-header {
  background-color: var(--color-mediumTurquoise);
}