/* Media para não deixar a faixa com nome da Andrea cobrir seu rosto na foto */
@media (min-width: 460px) and (max-width: 767px) {
  .equipe__name {
    bottom: 48%;
  }

  .resumo___formatura {
    max-width: 75%;
  }
}

@media (min-width: 768px) {
  header {
    background-size: cover;
    min-height: calc(100vh - 40px);
  }

  h1 {
    font-size: 44px;
  }

  .header__description {
    font-size: 26px;
  }

  h3 {
    width: 40vw;
    font-size: 36px;
  }

  .sobre__content {
    padding: 0 9%;
  }

  h2 {
    font-size: 36px;
  }

  .depoimentos__title {
    width: 85%;
  }

  #emailNovidades {
    min-width: 400px;
  }
  .novidades__title {
    font-size: 22px;
  }

  /* header curso */
  .header___turmas {
    display: flex;
  }
  .header___botoes {
    display: flex;
    justify-content: center;
  }

  /* resumo curso */
  #resumo {
    margin: 24px;
  }
  .resumo___formatura {
    max-width: 75%;
  }

  /* equipe */
  .equipe__imagem {
    height: 270px;
    overflow: hidden;
    position: relative;
  }
  .equipe__imagem > img {
    width: 500px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .equipe__name {
    background: #ffffff;
    opacity: 0.6;
    border: 1px solid #ffffff;
    border-radius: 0px 8px 8px 0px;
    bottom: 53%;
    min-height: 80px;
    color: black;
  }

  /* modulos curso */
  #modulos {
    margin: 0 24px;
  }

  /* investimentos curso */
  .investimentos___conteudo {
    display: flex;
    flex-direction: row-reverse;
  }
  .investimentos___matricula {
    width: 50%;
    justify-content: start;
  }
  .investimentos___info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .investimentos___detalhes {
    width: 50%;
    padding-top: 24px;
  }
  .investimentos___desconto  {
    display: flex;
    align-items: center;
  }
  .investimentos___desconto > p {
    margin: 0;
  }

  /* footer */
  footer {
    padding: 35px 110px 10px;
    text-align: left;
  }
  .contato__informacoes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contato__meios {
    text-align: left;
  }
  .contato__telefone {
    justify-content: left;
  }
}
