@media (min-width: 768px) {
  header {
    background-size: cover;
    min-height: calc(100vh - 40px);
  }

  h1 {
    font-size: 44px;
  }

  .header__description {
    font-size: 26px;
  }

  h3 {
    width: 40vw;
    font-size: 36px;
  }

  /* footer */
  footer {
    padding: 35px 110px 10px;
  }

  .informacoes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .direitos {
    display: flex;
    justify-content: center;
  }
}
