@media (min-width: 768px) {
  header {
    background-size: cover;
    min-height: calc(100vh - 40px);
  }

  h1 {
    font-size: 44px;
  }

  .header__description {
    font-size: 26px;
  }

  h3 {
    width: 40vw;
    font-size: 36px;
  }

  .sobre__content {
    padding: 0 9%;
  }

  h2 {
    font-size: 36px;
  }

  .depoimentos__title {
    width: 85%;
  }

  #emailNovidades {
    min-width: 400px;
  }
  .novidades__title {
    font-size: 22px;
  }

  /* footer */
  footer {
    padding: 35px 110px 10px;
    text-align: left;
  }

  .contato__informacoes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contato__meios {
    text-align: left;
  }

  .contato__telefone {
    justify-content: left;
  }
  
}
